@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Black+Ops+One&family=Bree+Serif&family=Odibee+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yatra+One&family=Zen+Dots&display=swap');

:root{
    --color1: rgb(19, 21, 21);
    --text-color: rgb(255, 250, 251);
    --subback-color: rgb(21, 127, 146);
    --accent-color: rgb(82, 220, 238);
}

main{
    padding: 50px;
    display: flex;
    justify-content: center;
}

#action{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.game{                                                                          /*===game list======*/
    width: 50vw;
    height: 10vw;
    display: flex;
    align-items: start;
    gap: 20px;

    border-radius: 20px;
    background-color: rgb(46, 46, 46);
}

.game-pic{                                                                      /*==========game list icons=======*/
    width: 9vw;
    min-width: 9vw;
    height: 10vw;
    border-radius: 20px 0 0 20px;
}

.game-details{                                                                  /*=========game details ==============*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    width: fit-content;
}

span{
    font-size: 2vw;
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

.tags{
    font-size: .6vw;
    display: flex;
    gap: 5px;;
}

.tags a{
    color: var(--accent-color);
}

.price{
    font-size: 1.1vw;
}

.game-description{
    background-color: var(--color1);
    margin: 5px;
    border-radius: 0px 20px 20px;
    padding: 10px;
    font-size: .75vw;
    text-align: justify;

    display: none;
}

.action-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

.action-bar svg{
    width: 32px;
}

.add-cart{
    display: flex;
    align-items: center;
    border: 2px solid;
    padding: 2px 10px;
    border-radius: 10px;
}



/*===================================mmedia queries======================*/
@media (max-width:880px) {
    
    main{
        padding:3vw;
        display: flex;
        justify-content:center;
    }

    .game{
        width: 25em;
        border-radius: 5px;
        height: 20vw;
    }

    .game-pic{
        height: 20vw;
        border-radius: 5px 0 0 5px;
        width: 17vw;
        min-width: 17vw;
    }

}


/*==============================Animations================================*/

.tags a:hover{
    color: var(--text-color);
}

.game-pic:hover ~ .game-description{
    display: block;
}

.add-cart:hover{
    background-color: var(--subback-color);
    border-color: var(--subback-color);
}